<div id="footer" class="footer">
    <div class="container-susy">

        <div class="footer-top">

            <div class="footer-description">
                <div class="footer-title">
                    <img src="{{ asset('assets/assets/img/webfish-logo.png') }}" alt="webfish-logotype">
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <p>This project created exclusively for training purposes. This blog which will be published news.</p>
                        </li>
                        <li>
                            <p>And each user will have your personal cabinet in which he can keep the news.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-contacts">
                <div class="footer-title">
                    <p>Keep in touch</p>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <p>max.strutinskiy@gmail.com</p>
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>+3 80 967 144 266</p>
                        </li>
                        <li>
                            <i class="fa fa-print" aria-hidden="true"></i>
                            <p>+3 80 967 144 266</p>
                        </li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p>Ukraine, Cherkasi</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-links">
                <div class="footer-title">
                    <p>Featured links</p>
                </div>
                <div class="footer-content">
                    {% include "BlogBundle:Components:_menu-list.html.twig" %}
                </div>
            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="container-susy">
            <div class="footer-left">
                <ul>
                    <li><a href="#"><img src="{{ asset('assets/assets/img/tw.png') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ asset('assets/assets/img/fb.png') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ asset('assets/assets/img/p.png') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ asset('assets/assets/img/in.png') }}" alt=""></a></li>
                </ul>
            </div>

            <div class="footer-right">
                <p>© webfish 2016.</p>
                <p>All Rights Reserved</p>
            </div>
        </div>

    </div>
</div>