{% extends "BlogBundle::base.html.twig" %}

{% block title %}/ Contact{% endblock %}


{% block body %}

    {% include "BlogBundle:Components/_header:_contact_header.html.twig" %}

    <div class="contact-section">

        <div class="container-susy">
            <div class="contact-page clearfix">
                <div class="contacts-header">
                    <h2>Contacts</h2>
                    <p>In this page you can see all contacts and send our administration message.</p>
                </div>

                <div class="contacts-form clearfix">
                    {{ form_start(form_info) }}
                    <div class="input-name">{{ form_row(form_info.name) }}</div>
                    <div class="input-phone">{{ form_row(form_info.phone) }}</div>
                    <div class="input-text">{{ form_row(form_info.message) }}</div>
                    <div class="form-buttons">{{ form_row(form_info.send) }} {{ form_row(form_info.clean) }}</div>
                    {{ form_end(form_info) }}
                </div>

            </div>
        </div>

        <div id="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d771.2404957356601!2d32.061068748203034!3d49.444194286048806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1481030036212"
                    width="100%"
                    height="300"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen>

            </iframe>
        </div>

    </div>

    {% include "BlogBundle:Components/_footer:_footer.html.twig" %}

{% endblock %}