{% extends "BlogBundle::blog.html.twig" %}

{% block title %}/ Blog{% endblock %}

{% block body_left %}
    <div class="post-article-internal">
        <div class="article-date">
            <p>{{ post.postDate|date("M d") }}</p>
        </div>
        <div class="article-category">
            <p>
                <a href="{{ path('category', {'id' : post.category.id, 'name' : post.category.name|replace ({' ': '_'})}) }}">
                    {{ post.category.name }}
                </a>
            </p>
        </div>
        <div class="article-short-title">
            <p>{{ post.longTitle }}</p>
        </div>
        <div class="article-short-description">
            <p>{{ post.longDescriptions }}</p>
        </div>
        <div class="article-tag">
            <ul>
                {% for tag in post.tag %}
                    {# add link to personal tag page #}
                    <li>#{{ tag.name|join(' - ') }} {% if not loop.last %} , {% endif %} </li>
                    {# add link to personal tag page #}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}